@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


header{ 
    background-color: #99c386;
    width: 100%;

}

h1{
    font-size: 40px;
    font-family: "Noto Serif", serif;
    color:rgb(70, 73, 75);
    text-align: center;
}

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado h2{
    color:rgb(70, 73, 75);
    font-size: 25px;
    font-family: "Noto Serif", serif;
}

.encabezado img{
    width: 200px;
    height: 250px;
    border-radius: 50%;

}

.encabezado p{
    color:black;
    font-size: 20px;
    font-family: "Exo", sans-serif;
    text-align: center;
}

.contacto{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    
}

.contacto h3{
    margin: 10px;
    color:rgb(70, 73, 75);
    font-size: 20px;
    font-family: "Noto Serif", serif;

}

.contacto a {
    margin: 10px;

}

.contacto h4{
    margin: 10px;
    color:rgb(70, 73, 75);
    font-size: 15px;
    font-family: "Noto Serif", serif;
}