@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #99c386;
    width: 100%;
}

header ul{
display: flex;
flex-direction: row;
list-style: none;
}

header ul li {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-inline-end: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px;
    
}

a{
    text-decoration: none;
}


p{
    font-size: 20px;
    color: rgb(32, 32, 32);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}



h3{
    font-size: 30px ;
    font-family: 'Franklin Gothic Medium';
    color: rgb(15, 91, 110);
}

.contenedor{
    width: 100% ;
    display:flex;
    flex-direction: row;
    background-color: rgb(221, 243, 247);
    text-align: center;
    
}

.caja{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.caja img {
    border-radius: 50%;

}


.introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.introduccion h1{
    margin-bottom: 10px;
    font-size: 70px;
    color: rgb(70, 73, 75);
    font-family: "Noto Serif", serif;
}

.introduccion h2{
    margin: 10px;
    font-size: 45px;
    color: rgb(70, 73, 75);
    font-family: "Noto Serif", serif;
}

.introduccion p{
    font-family: "Exo", sans-serif;
    font-size: 20px;
    color: rgb(32, 32, 32);
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.introduccion img {
    border-radius: 50%;
}

footer p{
    display: flex;
    justify-content: flex-start;
}